@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Muli';
    font-weight: 400;
    src: local('MyFont'), url('./assets/fonts/Muli/Muli-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Muli';
    font-weight: 700;
    src: local('MyFont'), url('./assets/fonts/Muli/Muli-Bold.ttf') format('ttf');
}

.muli {
    font-family: 'Muli';
}